[core]
	excludesfile = ~/.gitignore_global
[user]
	email = mishiwata1015@gmail.com
	name = Masanori Ishiwata

[alias]
	uncommit = reset HEAD~
	wip = "commit --allow-empty --no-verify -m '[ci skip] wip'"
	showpr = "!f() { git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1; }; f"

[tig "bind"]
	status = C !git commit -v
	diff = F ?!git commit --fixup %(commit)
	diff = S ?!git commit --squash %(commit)
	main = F ?!git commit --fixup %(commit)
	main = S ?!git commit --squash %(commit)

[push]
	default = current

